<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.hi.mvcProject.member.MemberVO" alias="memberVO"></typeAlias>
		<typeAlias type="com.hi.mvcProject.ProductVO" alias="productVO"></typeAlias>
		<typeAlias type="com.hi.mvcProject.BbsVO" alias="bbsVO"></typeAlias>
		<typeAlias type="com.hi.mvcProject.ReplyVO" alias="replyVO"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/member.xml" />
		<mapper resource="mapper/product.xml" />
		<mapper resource="mapper/bbs.xml" />
		<mapper resource="mapper/reply.xml" />
	</mappers>
</configuration>




